body {
  min-height: 100vh;
  flex-direction: column;
  display: flex;
  background-color: rgb(245, 245, 245);
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

.encabezado {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}

.enlacesContainer {
  display: flex;
  justify-content: space-around;
  gap: 40px;
}

nav {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.contenedor {
  display: flex;
  min-height: 100vh;
  width: 100%;
}

.aside1 {
  flex: 1;
  flex-grow: 1;
  min-width: 22%;
}

main {
  flex: 1;
  flex-grow: 5;
  min-width: 55%;
}

.aside2 {
  flex: 1;
  flex-grow: 2;
  min-width: 25%;
}

.inline {
  display: flex;
  display: inline-flex;
  width: 100%;
  justify-content: space-around;
  text-align: center;
}

.container3 img {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 5%;
}

.logo {
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5%;
  background-color: white;
}
.logo img {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 10%;
  top: 35px;
  display: inline-flex;
}
.logo .title {
  display: flex;
  text-align: center;
  margin: auto 40px;
}
.logo #grande {
  display: flex;
  text-align: center;
  margin: auto 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 170%;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 15px;
}
.logo h3 {
  font-family: Arial, Helvetica, sans-serif;
}

#space {
  display: flex;
  text-align: center;
  margin: auto 40px;
}
#space .col1 {
  padding-right: 20px;
}
#space .col2 {
  padding-right: 20px;
}
#space .col3 {
  padding-right: 20px;
}

.reactions {
  display: flex;
  text-align: center;
  margin: 10px -260px;
  justify-content: space-between;
}
.reactions img {
  display: flex;
  top: 15px;
  padding-right: 10px;
}
.reactions .like {
  padding-right: 30px;
  top: 15px;
}
.reactions .comment {
  top: 15px;
  padding-left: 0px;
}

.reactions-img {
  border: 10px solid red;
  background-color: black;
}

.container3 {
  background-color: white;
  display: flex;
}
.container3 .logo1 {
  text-align: center;
  font-size: 30px;
  margin-right: 70px;
}

.link1 a {
  text-align: center;
  box-sizing: border-box;
  display: block;
  margin-right: 30px;
  margin-top: 20px;
  border: 1px solid red;
}
.link1 .acreate {
  border-width: 1px;
  border-color: blue;
}
.link1 .alog {
  border-color: white;
}

.default-navigation-links svg {
  width: 40px;
}

.cls-1 {
  fill: none;
}

.cls-2 {
  -webkit-clip-path: url(#clippath);
          clip-path: url(#clippath);
}

.cls-3 {
  fill: #fff;
}

.cls-4 {
  fill: #0f0f0f;
}

.flex-box img {
  display: inline-block;
  width: 40px;
}

.scroll h1 {
  display: flex;
  text-align: center;
  width: 100%;
  text-decoration: none;
  font-size: 30px;
}
.scroll nav {
  width: 339px;
  padding: 5px;
}
.scroll scroll-container {
  display: block;
  width: 300px;
  height: 500px;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
.scroll scroll-page {
  display: flex;
  align-items: center;
  justify-content: left;
  height: 70px;
  font-size: 25px;
}

.aside2 {
  border-radius: 10%;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  border-color: 10px solid red;
}
.aside2 .row {
  border-radius: 5%;
  text-align: center;
}
.aside2 img {
  height: 20px;
  display: flex;
  position: absolute;
}
.aside2 .new {
  background-color: yellow;
  width: 50px;
}/*# sourceMappingURL=main.css.map */