.container3 {
    background-color: white;
    display: flex;
       logo1 {


       }

       
    }

    .link1 {
       a {
        text-align: center;
        box-sizing: border-box;
        display: block;
        margin-right: 30px;
        margin-top: 20px;
        border: 1px solid red;
       
        

       } 

       .acreate {
        border-width: 1px;
        border-color: blue;
        
       }

       .alog {
        border-color: white;
       }


       }

       .cls-1 {
        fill: none;
      }

      .cls-2 {
        clip-path: url(#clippath);
      }

      .cls-3 {
        fill: #fff;
      }

      .cls-4 {
        fill: #0f0f0f;
      }